<!DOCTYPE html>
<html lang="ko">
<head>
    
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>   
    <link href="../fontawesome-free-5.15.4-web/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
  <title>IMPORT</title>
 
</head>
<body>
    <!-- 상단 메뉴 바, 어느 페이지건 다 복사 붙여넣기를 해야함 -->
    <header>
        <nav>
            <div class="menu-button">
                <i class="fas fa-bars open-menu" onclick="openMenu()"></i>
                <i class="fas fa-times close-menu" onclick="closeMenu()"></i>
            </div>
          <div class="logo">
              <img src="../images/logo.png" style="cursor: pointer;" onclick="location.href='<%= process.env.SERVER_HOST %>'">
          </div>
        <div class="topMenu">
            <ul class="topMenu-ul">
              <li><a href="<%= process.env.SERVER_HOST %>/UnionClub">총동아리연합회</a></li>
              <li><a onclick="OpenSmallMenu(1)">동아리 소개 <span>▼</span></a>
                <ul id="SmallMenu2">
                  <li><a href="<%= process.env.SERVER_HOST %>/physical">체육분과</a></li>
                  <li><a href="<%= process.env.SERVER_HOST %>/performance">공연분과</a></li>
                  <li><a href="<%= process.env.SERVER_HOST %>/art">전시/교양분과</a></li>
                  <li><a href="<%= process.env.SERVER_HOST %>/volunteer">봉사분과</a></li>
                  <li><a href="<%= process.env.SERVER_HOST %>/religion">종교분과</a></li>
                </ul>
                <li><a onclick="OpenSmallMenu(2)">동아리활동<span>▼</span></a>
                  <ul id="SmallMenu1">
                    <li><a href="<%= process.env.SERVER_HOST %>/document">서류/양식</a></li>
                    <li><a href="<%= process.env.SERVER_HOST %>/report">동아리 활동보고</a></li>
                    <li><a href="<%= process.env.SERVER_HOST %>/bestClub">이달의 동아리</a></li>
                    <li><a href="<%= process.env.SERVER_HOST %>/calender">동아리 캘린더</a></li>
                  </ul>
                </li>
              <li><a href="<%= process.env.SERVER_HOST %>/meeting">대표자 회의록</a></li>
            </ul>
        </div>
      </nav>
    </header>
    <script>
        
        function openMenu(){
            $('.topMenu').css('display','block');
            $('.close-menu').css('display','block');
            $('.open-menu').css('display','none');
            $('.topMenu-ul').css('background','black');
            $('.executive-contents').css('opacity','0.5');
            $('.footer').css('opacity','0.5');
        }
        function closeMenu(){
            $('.topMenu').css('display','none');
            $('.topMenu-ul').css('background','none');
            $('.close-menu').css('display','none');
            $('.open-menu').css('display','block');
            $('.executive-contents').css('opacity','1');
            $('.footer').css('opacity','1');
            
        }
        function OpenSmallMenu(num){
            var result = '#SmallMenu'+num;
            $(result).css('dislay','block');
  
        }
  
    </script>        

      <!-- 총동아리 소개 부분 -->
    <div class="index-introduce-union">
        <div class="index-introduce-union-img">
            <img src="../images/groupPhoto.jpeg">
        </div>
        <div class="index-introudce-union-comment">
            <h2>SKETCH</h2>
            <p>안녕하십니까! 국립한밭대학교 제 37대 총동아리 연합회 SKETCH입니다.</p>
            <h3>팀 이름 & 로고</h3>
            <p>SKETCH는 '밑그림'이라는 의미이며 로고에는 기린을 사용하고 있습니다.</p>
            <p>팀 이름에는 총동아리연합회 소속 중앙동아리들이 자신들의 색을 마음껏 칠할 수 있는 밑그림이 되자는 의미를 담고 있고,</p>
            <p>로고는 기린처럼 높고 넓은 시야로 항상 멀리보며 큰 그림을 만들어나가겠다는 의미를 담고 있습니다.</p>
        </div>
    </div>

      <!-- 이달의 동아리 -->

      <!-- 동아리 종류 -->
     
      <div class="index-introduce-club">
        
        <div class="slide-border">
            <div class="index-intorduce-club-title">
                <h2>공연분과</h2>
            </div>
            <div class="slide-container">
                <div class="slide-box">   
                    <img src="../images/공연분과/1공연분과.jpg">
                </div>
                <div class="slide-box">   
                    <img src="../images/공연분과/2022_텐츠 포스터.jpg">
                </div>
                <div class="slide-box">   
                    <img src="../images/공연분과/BPM 홍보포스터 2022.jpeg">
                </div>
                <div class="slide-box">   
                    <img src="../images/공연분과/백색소음포스터.jpeg">
                </div>
                <div class="slide-box">   
                    <img src="../images/공연분과/빌보드포스터.jpg">
                </div>
                <div class="slide-box">   
                    <img src="../images/공연분과/에이사운드포스터.jpg">
                </div>
                <div class="slide-box">   
                    <img src="../images/공연분과/옥타브포스터.jpg">
                </div>
                <div class="slide-box">   
                    <img src="../images/공연분과/위키드.jpg">
                </div>
                <div class="slide-box">   
                    <img src="../images/공연분과/현암극회포스터.jpeg">
                </div>
            </div>
        </div>

        
        <div class="slide-border">
            <div class="index-intorduce-club-title">
                <h2>봉사분과</h2>
            </div>
            <div class="slide-container">
                <div class="slide-box">   
                    <img src="../images/봉사분과/2봉사분과.jpg">
                </div>
                <div class="slide-box">   
                    <img src="../images/봉사분과/로타랙트.jpg">
                </div>
                <div class="slide-box">   
                    <img src="../images/봉사분과/상상네이버스 동아리 포스터.jpg">
                </div>
                <div class="slide-box">   
                    <img src="../images/봉사분과/새마을 동아리 - 포스터_페이지_1.jpg">
                </div>
                <div class="slide-box">   
                    <img src="../images/봉사분과/악어스카우트 포스터.jpg">
                </div>
            </div>
        </div>

        
        <div class="slide-border">
            <div class="index-intorduce-club-title">
                <h2>전시교양분과</h2>
            </div>
            <div class="slide-container">
                <div class="slide-box">   
                    <img src="../images/전시교양분과/3전시교양분과.jpg">
                </div>
                <div class="slide-box">   
                    <img src="../images/전시교양분과/2022 다와 상반기 포스터.jpg">
                </div>
                <div class="slide-box">   
                    <img src="../images/전시교양분과/2022년도 1학기 묘미 포스터.png">
                </div>
                <div class="slide-box">   
                    <img src="../images/전시교양분과/import 포스터.png">
                </div>
                <div class="slide-box">   
                    <img src="../images/전시교양분과/RGB 홍보 포스터.jpg">
                </div>
                <div class="slide-box">   
                    <img src="../images/전시교양분과/3전시교양분과.jpg">
                </div>
                <div class="slide-box">   
                    <img src="../images/전시교양분과/마스터드론포스터.jpg">
                </div>
                <div class="slide-box">   
                    <img src="../images/전시교양분과/슬레이트 포스터.jpg">
                </div>
                <div class="slide-box">   
                    <img src="../images/전시교양분과/찰나.png">
                </div>
                <div class="slide-box">   
                    <img src="../images/전시교양분과/팀미라클.jpg">
                </div>
            </div>
        </div>

        
        <div class="slide-border">
            <div class="index-intorduce-club-title">
                <h2>종교분과</h2>
            </div>
            <div class="slide-container">
                <div class="slide-box">   
                    <img src="../images/종교분과/4종교분과.jpg">
                </div>
                <div class="slide-box">   
                    <img src="../images/종교분과/CCC포스터.jpg">
                </div>
                <div class="slide-box">   
                    <img src="../images/종교분과/DFC 포스터.jpg">
                </div>
                <div class="slide-box">   
                    <img src="../images/종교분과/IVF포스터.jpg">
                </div>
                <div class="slide-box">   
                    <img src="../images/종교분과/JDM포스터.jpg">
                </div>
                <div class="slide-box">   
                    <img src="../images/종교분과/한밭대 베리타스 포스터.jpg">
                </div>
            </div>
        </div>

        
        <div class="slide-border">
            <div class="index-intorduce-club-title">
                <h2>체육분과</h2>
            </div>
            <div class="slide-container">
                <div class="slide-box">   
                    <img src="../images/체육분과/5체육분과.jpg">
                </div>
                <div class="slide-box">   
                    <img src="../images/체육분과/데굴데굴포스터.jpg">
                </div>
                <div class="slide-box">   
                    <img src="../images/체육분과/마스터즈.png">
                </div>
                <div class="slide-box">   
                    <img src="../images/체육분과/매치포인트 홍보포스터.jpg">
                </div>
                <div class="slide-box">   
                    <img src="../images/체육분과/시너지포스터.png">
                </div>
                <div class="slide-box">   
                    <img src="../images/체육분과/청마루포스터.jpeg">
                </div>
                <div class="slide-box">   
                    <img src="../images/체육분과/캡스 포스터.jpg">
                </div>
                <div class="slide-box">   
                    <img src="../images/체육분과/하트비트 포스터.png">
                </div>
            </div>
        </div>
                

                
            </div>
        </div> 
        <script>
            // 자동 슬라이드를 구현항 방법은 setInterver을 사용해서 0.1초 동안 반복하게 적용함,
            // 그리고 timer+1을 하여서 0.1초에 1vw를 이동하게끔 설계 후에 transition을 css에서 사용해서 부드럽게 적용
            var timer = 0;                
            let interval = setInterval(slideshow, 2000); 
        
            function slideshow(){ 
                $('.slide-container').css('opacity','1');
                $('.slide-container').css('transform','translateX(-'+timer+'vw)');
                timer = timer+20;
                console.log(timer);
                if(timer >= 201){
                    timer = 0;
                    $('.slide-container').css('transform','translateX(-'+timer+'vw)');
                    $('.slide-container').css('opacity','0').delay(400);
                }
            } 
        </script> 
      </div>
      <div>

      </div>
    
            
        
        <!-- 마지막 footer부분 이 부분은 메뉴바와 함께 복사 붙여 넣기 꼭 하기 -->
    <div class="footer">
      <div class="sns">
        <ul class="snss">
          <li><a href="https://github.com/Import-hanbat"><i style="color: black;" class="fab fa-github"></i></a></li>
          <li><a href="https://www.instagram.com/import_hanbat/"><i class="fab fa-instagram"></i></a></li>
          <li><a href="https://www.facebook.com/Import-110047964872044"><i class="fab fa-facebook"></i></a></li>
        </ul>
      </div>
        <div class="copyright">
            <p>Copyright 2022. Import all right reserved.</p>
        </div>
          <div class="address">
            <p>대전광역시 유성구 동서대로 125</p>
          </div>
      </div>
 
    </body>
</html>
          
          