<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link href="../fontawesome-free-5.15.4-web/css/all.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>   
    <title>IMPORT</title>
    <script src="https://kit.fontawesome.com/4ab7d5f053.js" crossorigin="anonymous"></script>
   
</head>
<body>
    <!-- 상단 메뉴 바, 어느 페이지건 다 복사 붙여넣기를 해야함 -->
    <header>
        <nav>
            <div class="menu-button">
                <i class="fas fa-bars open-menu" onclick="openMenu()"></i>
                <i class="fas fa-times close-menu" onclick="closeMenu()"></i>
            </div>
          <div class="logo">
              <img src="../images/logo.png" style="cursor: pointer;" onclick="location.href='<%= process.env.SERVER_HOST %>'">
          </div>
        <div class="topMenu">
            <ul class="topMenu-ul">
              <li><a href="<%= process.env.SERVER_HOST %>/UnionClub">총동아리연합회</a></li>
              <li><a onclick="OpenSmallMenu(1)">동아리 소개 <span>▼</span></a>
                <ul id="SmallMenu2">
                  <li><a href="<%= process.env.SERVER_HOST %>/physical">체육분과</a></li>
                  <li><a href="<%= process.env.SERVER_HOST %>/performance">공연분과</a></li>
                  <li><a href="<%= process.env.SERVER_HOST %>/art">전시/교양분과</a></li>
                  <li><a href="<%= process.env.SERVER_HOST %>/volunteer">봉사분과</a></li>
                  <li><a href="<%= process.env.SERVER_HOST %>/religion">종교분과</a></li>
                </ul>
                <li><a onclick="OpenSmallMenu(2)">동아리활동<span>▼</span></a>
                  <ul id="SmallMenu1">
                    <li><a href="<%= process.env.SERVER_HOST %>/document">서류/양식</a></li>
                    <li><a href="<%= process.env.SERVER_HOST %>/report">동아리 활동보고</a></li>
                    <li><a href="<%= process.env.SERVER_HOST %>/bestClub">이달의 동아리</a></li>
                    <li><a href="<%= process.env.SERVER_HOST %>/calender">동아리 캘린더</a></li>
                  </ul>
                </li>
              <li><a href="<%= process.env.SERVER_HOST %>/meeting">대표자 회의록</a></li>
            </ul>
        </div>
      </nav>
    </header>
    <script>
        function showModal() {
            var modal = document.getElementById("Modal");
            modal.style.display = "block";
            $('body').css('background-color','rgba(0,0,0,0.4)')
        }

        function closeModal() {
            var modal = document.getElementById("Modal");
            modal.style.display = "none";
            $('body').css('background-color','')
        }

        function openMenu(){
            $('.topMenu').css('display','block');
            $('.close-menu').css('display','block');
            $('.open-menu').css('display','none');
            $('.topMenu-ul').css('background','black');
            $('.contents').css('opacity','0.5');
            $('.footer').css('opacity','0.5');
        }

        function closeMenu(){
            $('.topMenu').css('display','none');
            $('.topMenu-ul').css('background','none');
            $('.close-menu').css('display','none');
            $('.open-menu').css('display','block');
            $('.contents').css('opacity','1');
            $('.footer').css('opacity','1');
            
        }

        function OpenSmallMenu(num){
            var result = '#SmallMenu'+num;
            $(result).css('dislay','block');
        }

            window.onclick = function(event) {
                var modal = document.getElementById("Modal");
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        
    </script>  
    
    <!-- Modal -->
    <div id="Modal" class="modal">
        <form class="modal-content animate" id="writeForm" action="/write" method="post">
            <div class="xcontainer">
                <span onclick="closeModal()" class="close" title="Close Modal">&times;</span>
            </div>
      
            <div class="modalContainer">
                <input type="password" class="pwd" placeholder="Enter Password" name="pwd" required>
                <button type="submit" class="modalButton">Login</button>
            </div>
        </form>
    </div>


    <!--상단 게시판 제목-->
    <div class="contents">
        <div class="title">
            
            <h2>체육분과</h2>
            <sup class="total">12</sup>
        </div>
        <div class="write-btn">
            <button class="write-button" onclick="showModal()"><i class="far fa-edit"></i></button>
        </div>
        <!--상단 제목 ~ 하단 Load more-->
        <div class="project-cards-container">
            
               
                <!--프로젝트 게시물 전체-->
                <div class="project-cards">
                    <% for (var i = 0; i< 5;i++){ %>
                    <!-- 프로젝트 게시물 개별 -> 한번에 6개 보여줌-->
                        <div class="project-card-component">
                            <a class="project-views" href="">
                                <img src="../images/체육분과/5체육분과.jpg" alt="" class="project-thumbnail">
                                <p class="name">동아리명</p>
                            </a>
                            <div class="links">
                                <div class="link-item">
                                    <p>Go to Page</p>
                                </div>
                            </div>
                        </div>  
                        <% } %>      
                </div>
               
            
            <div class="load-more">
                <div class="load-more-btn">
                    <p>Load more</p>
                    <i class="fas fa-chevron-down"></i>
                </div>
            </div>
        </div>
    </div>
                <!--

                
                <div class="project-card-component">
                    <a href="" class="project-views">
                        <img src="../images/project.png" alt="" class="project-thumbnail">
                        <p class="name">프로젝트 제목</p>
                        <p class="time">1기</p>
                    </a>
                    <div class="links">
                        <div class="link-item">
                            <p>Go to Page</p>
                        </div>
                    </div>
                </div>
                <div class="project-card-component">
                    <a href="" class="project-views">
                        <img src="../images/project.png" alt="" class="project-thumbnail">
                        <p class="name">프로젝트 제목</p>
                        <p class="time">1기</p>
                    </a>
                    <div class="links">
                        <div class="link-item">
                            <p>Go to Page</p>
                        </div>
                    </div>
                </div>
                <div class="project-card-component">
                    <a href="" class="project-views">
                        <img src="../images/project.png" alt="" class="project-thumbnail">
                        <p class="name">프로젝트 제목</p>
                        <p class="time">1기</p>
                    </a>
                    <div class="links">
                        <div class="link-item">
                            <p>Go to Page</p>
                        </div>
                    </div>
                </div>
                <div class="project-card-component">
                    <a href="" class="project-views">
                        <img src="../images/project.png" alt="" class="project-thumbnail">
                        <p class="name">프로젝트 제목</p>
                        <p class="time">1기</p>
                    </a>
                    <div class="links">
                        <div class="link-item">
                            <p>Go to Page</p>
                        </div>
                    </div>
                </div>
                <div class="project-card-component">
                    <a href="" class="project-views">
                        <img src="../images/project.png" alt="" class="project-thumbnail">
                        <p class="name">프로젝트 제목</p>
                        <p class="time">1기</p>
                    </a>
                    <div class="links">
                        <div class="link-item">
                            <p>Go to Page</p>
                        </div>
                    </div>
                </div>
                -->
                
 


    <!-- 마지막 footer부분 이 부분은 메뉴바와 함께 복사 붙여 넣기 꼭 하기 -->
    <div class="footer">
        <div class="sns">
          <ul class="snss">
            <li><a href="https://github.com/Import-hanbat"><i style="color: white;" class="fab fa-github"></i></a></li>
            <li><a href="https://www.instagram.com/import_hanbat/"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://www.facebook.com/Import-110047964872044"><i class="fab fa-facebook"></i></a></li>
          </ul>
        </div>
          <div class="copyright">
              <p>Copyright 2022. Import all right reserved.</p>
          </div>
            <div class="address">
              <p>대전광역시 유성구 동서대로 125</p>
            </div>
        </div>
</body>
</html>